{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block 'body' %}
<header class="p-3 bg-dark text-white w-100 nav-masthead">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="bi me-2" width="32" height="32" src="{% static 'images/logo.png' %}" aria-label="Bootstrap">
            </a>
            {% if request.user.is_authenticated %}
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="{% url 'profile' %}" class="nav-link px-2">Profile</a>
                </li>
            </ul>
            <div class="text-end">
                <a type="button" href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            </div>
            {% endif %}
        </div>
    </div>
</header>
<div class="container-fluid text-center py-5">
    <div class="container px-4 py-5" id="hanging-icons">
        <div class="row g-4">
            <div class="col d-flex align-items-start">
                <div>
                    <h2 class="mb-3 border-bottom" style="color: black">List</h2>
                </div>
            </div>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    {{listing_form|crispy}}
                </div>
                <div class="col-6 ">
                    {{location_form|crispy}}
                </div>
            </div>
            <button class="btn btn-lg btn-danger my-3" type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}