{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
            content="Welcome to Lorrie Park, A car listing application where users can search through and buy or sell used/vintange cars">
        <meta name="author" content="Philip Obiri">

        {% block 'title' %}
        <title>Lorrie Park | List Your Car Today!</title>
        {% endblock %}

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom Style CSS -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- JQuery -->
        <!-- <script src="{% static 'js/jquery.min.js'   %}"></script>
        <script src="{% static 'js/jquery.js'  %}"></script> -->

        <!-- JQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <body>
        {% block 'body'%}
        {% endblock %}

    </body>

    {% block 'footer' %}
    <footer class="footer text-muted bg-dark py-5">
        <div class="container">
            <p class="float-end mb-1">Built by Philip Obiri <a href="https://www.djangoproject.com/">Powered by Django</a></p>
            </p>
            <p class="mb-1">Lorrie Park - Best Place To Buy & Sell Cars</p>
            <p class="mb-0">Copyright © {% now 'Y' %} <a href="">Lorrie Park</a></p>
        </div>
    </footer>
    {% endblock %}

</html>